# Connect DB

In [3]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("mysql+mysqlconnector://root:root@localhost:3306/dummy")
print(f"Dialect : {db.dialect}")
print(db.get_usable_table_names())

Dialect : mysql
['dftransjakarta', 'purchasedummy']

# LLM

In [4]:
from langchain_google_genai.llms import GoogleGenerativeAI

llm = GoogleGenerativeAI(model="gemini-2.0-pro-exp-02-05")

# Agents

### Toolkit

In [5]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()

tools

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000013F00520CA0>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000013F00520CA0>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000013F00520CA0>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000013F00520CA0>, llm=GoogleGenerativeAI(model='gemini-2.0-pro-exp-02-05', google_api_key=SecretStr('**********'), client=ChatGoogleGenerativeAI(model='models/gemini-2.0-pro-exp-02-05', google_api_key=SecretStr('**********'), client=<google.ai.generativelanguage_v1beta.services.generative_service.client.GenerativeServiceClient object at 0x0000013F054AC610>, default_metadata=())), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=GoogleGenerativeAI(model='gemini-2.0-pro-exp-02-05', google_api_key=SecretStr('**********'), client=ChatGoogleGenerativeAI(model='models/gemini-2.0-pro-exp-02-05', google_api_key=SecretStr('**********'), client=<google.ai.generativelanguage_v1beta.services.generative_service.client.GenerativeServiceClient object at 0x0000013F054AC610>, default_metadata=())), output_parser=StrOutputParser(), llm_kwargs={}))]

### System Prompt

In [6]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
prompt_template.messages[0].pretty_print()

c:\Users\Gemitry\Documents\Projects\at B7\chat-b7\.venv\lib\site-packages\langsmith\client.py:253: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

================================ System Message ================================

You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables.

In [7]:
system_message = prompt_template.format(dialect="MySQL", top_k=5)

In [8]:
system_message

'System: You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct MySQL query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nTo start you should ALWAYS look at the tables in the database to see what you can query.\nDo NOT skip this step.\nThen you should query the schema of the most relevant tables.'

### Initializing Agent

In [26]:
from langgraph.prebuilt import create_react_agent
from langchain.chat_models import init_chat_model

llm = init_chat_model("gemini-2.0-flash", model_provider="google_genai")

agent_executor = create_react_agent(llm, tools, prompt=system_message)

In [27]:
question = "pada jam berapa trip terbanyak dan tersedikit"

for step in agent_executor.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

pada jam berapa trip terbanyak dan tersedikit
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (ec6ffc4c-6325-4c05-bed7-7ed0864d1554)
 Call ID: ec6ffc4c-6325-4c05-bed7-7ed0864d1554
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

dftransjakarta, purchasedummy
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (443849b8-674d-4b46-a286-fb69ab1d10e0)
 Call ID: 443849b8-674d-4b46-a286-fb69ab1d10e0
  Args:
    table_names: dftransjakarta
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE dftransjakarta (
	`transID` VARCHAR(14),
	`payCardID` VARCHAR(19),
	`payCardBank` VARCHAR(6),
	`payCardName` VARCHAR(34),
	`payCardSex` VARCHAR(1),
	`payCardBirthDate` SMALLINT(6),
	`corridorID` VARCHAR(8),
	`corridorName` VARCHAR(51),
	direction DECIMAL(2, 1),
	`tapInStops` VARCHAR(7),
	`tapInStopsName` VARCHAR(41),
	`tapInStopsLat` DECIMAL(7, 6),
	`tapInStopsLon` DECIMAL(9, 6),
	`stopStartSeq` TINYINT(4),
	`tapInTime` VARCHAR(19),
	`tapOutStops` VARCHAR(7),
	`tapOutStopsName` VARCHAR(42),
	`tapOutStopsLat` VARCHAR(9),
	`tapOutStopsLon` VARCHAR(10),
	`stopEndSeq` VARCHAR(4),
	`tapOutTime` VARCHAR(19),
	`payAmount` VARCHAR(7)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_uca1400_ai_ci

/*
3 rows from dftransjakarta table:
transID	payCardID	payCardBank	payCardName	payCardSex	payCardBirthDate	corridorID	corridorName	direction	tapInStops	tapInStopsName	tapInStopsLat	tapInStopsLon	stopStartSeq	tapInTime	tapOutStops	tapOutStopsName	tapOutStopsLat	tapOutStopsLon	stopEndSeq	tapOutTime	payAmount
EIIW227B8L34VB	180062659848800	emoney	Bajragin Usada	M	2008	5	Matraman Baru - Ancol	1.0	P00142	Pal Putih	-6.184631	106.844020	7	2023-04-03 05:21:44	P00253	Tegalan	-6.203101	106.85715	12.0	2023-04-03 06:00:53	3500.0
LGXO740D2N47GZ	4885331907664776	dki	Gandi Widodo	F	1997	6C	Stasiun Tebet - Karet via Patra Kuningan	0.0	B01963P	Kemenkes 2	-6.228700	106.833020	13	2023-04-03 05:42:44	B03307P	Sampoerna Strategic	-6.217152	106.81892	21.0	2023-04-03 06:40:01	3500.0
DJWR385V2U57TO	4996225095064169	dki	Emong Wastuti	F	1992	R1A	Pantai Maju - Kota	0.0	B00499P	Gg. Kunir II	-6.133132	106.814350	38	2023-04-03 05:59:06	B04962P	Simpang Kunir Kemukus	-6.133731	106.81475	39.0	2023-04-03 06:50:55	3500.0
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (ae032293-4c8b-46e7-a837-9f86ed68f030)
 Call ID: ae032293-4c8b-46e7-a837-9f86ed68f030
  Args:
    query: SELECT HOUR(tapInTime) AS jam, COUNT(*) AS jumlah_perjalanan FROM dftransjakarta GROUP BY jam ORDER BY jumlah_perjalanan DESC LIMIT 1
================================= Tool Message =================================
Name: sql_db_query

[(6, 5839)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (3380213c-97d8-4e26-91d3-53808e5c3678)
 Call ID: 3380213c-97d8-4e26-91d3-53808e5c3678
  Args:
    query: SELECT HOUR(tapInTime) AS jam, COUNT(*) AS jumlah_perjalanan FROM dftransjakarta GROUP BY jam ORDER BY jumlah_perjalanan ASC LIMIT 1
================================= Tool Message =================================
Name: sql_db_query

[(14, 181)]
================================== Ai Message ==================================

Perjalanan terbanyak terjadi pada pukul 6 dengan 5839 perjalanan, dan perjalanan tersedikit terjadi pada pukul 14 dengan 181 perjalanan.